/* src/styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Your custom styles go here */

li{
  padding: 1px 10px;
  background-color: beige;
  border-radius: 7px;
  cursor: pointer;
}
body{
  background-color: burlywood;
}